@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

#pagination {
  clear: both;
  padding: 30px 0;
  text-align: center;
  .nav {
    display: inline-block;
    .page-number {
      @include font-size(1.4rem, 500, 36px, $black);
      margin: 0 10px;
      padding: 0 15px;
    }
  }
}