@use '../abstracts/colors' as *;
.menu-overlay {
  background: $black;
  height: 100%;
  opacity: 0;
  position: fixed;
  transition: all 300ms ease;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.show-menu-overlay {
  opacity: 0.25;
  visibility: visible;
}