//colors
$black: #333333;
$blue: #175beb;
$dark-fuchsia: #ef0da6;
$fuchsia: #ff4c60;
$light-brown: #FFFACD;
$pink: #DC8ADD;
$sky-blue: #1da1f2;
$soft-black: #353A44;
$white: #ffffff;

//color
.c-pink {
  color: $pink;
}
.c-fuchsia {
  color: $fuchsia;
}
.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-blue {
  color: $blue;
}
.c-sky-blue {
  color: $sky-blue;
}
.c-dark-fuchsia {
  color: $dark-fuchsia;
}
.c-soft-black {
  color: $soft-black;
}